MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/aarogya_kiosk

FACE_MATCH_THRESHOLD=0.30
FACE_CACHE_TTL=300

INSIGHTFACE_HOME=E:\insightface
HF_HOME=E:\hf-cache
GEMMA_REPO=google/gemma-4-E2B-it-qat-mobile-transformers
